@charset "UTF-8";
:root {
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --grey300: hsl(0, 0%, 70%);
  --grey500: hsl(0, 0%, 50%);
  --dark-greyish-blue: hsl(249, 6%, 50%);
  --light-greyish-blue: hsl(240, 5%, 91%);
  --text-color100: hsl(238, 29%, 16%);
  --text-color300: hsl(237, 12%, 33%);
  --accent-color: var(--soft-red);
  --divider-color: var(--light-greyish-blue);
  --base-font-size: 12px;
  --small-font-size: 14.4px;
  --body-font-family: "Kumbh Sans", sans-serif;
  --headings-font-family: "Kumbh Sans", sans-serif;
  --h1-font-size: 2.7rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.3rem;
  --h5-font-size: 1.1rem;
  --h6-font-size: 1rem;
  --transition: 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  /* @mixin center */
  display: flex;
  justify-content: center;
  align-items: center;
  /* end @mixin center */
  font-family: var(--body-font-family);
  color: var(--text-color);
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  min-height: 100vh;
  min-width: 100vw;
  line-height: 1.6em;
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.2em;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey300);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}

thead {
  font-weight: bold;
  background: var(--grey300);
}
thead th {
  border-color: var(--grey500);
}

td,
th {
  padding: 0.5rem;
}

/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

/* ========================== § FORMS === */
fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button {
  cursor: pointer;
}

/* ========================== § FUNCTIONALITY === */
.faq {
  border-radius: 2rem;
  position: relative;
  max-width: 920px;
  padding: 2rem;
  margin: 1.5rem;
  box-shadow: 0 2rem 4rem #5344a7;
}
@media screen and (max-width: 989px) {
  .faq {
    /* mixin mq */
    background: white url(../../images/bg-pattern-mobile.svg) top center no-repeat;
    margin-top: 200px;
    padding-top: 0;
    background-size: 400px;
    /* end mixin mq */
  }
}
@media screen and (max-width: 530px) {
  .faq {
    /* mixin mq */
    background-size: 80%;
    /* end mixin mq */
  }
}
@media screen and (min-width: 990px) {
  .faq {
    /* mixin mq */
    margin-left: 4rem;
    padding: 3.6rem 9rem 6.8rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    background-color: white;
    background-image: url(../../images/illustration-woman-online-desktop.svg), url(../../images/bg-pattern-desktop.svg);
    background-position: -82px 53px, -541px -269px;
    background-repeat: no-repeat;
    background-size: 51%, 100%;
    /* end mixin mq */
  }
}

.faq__img {
  display: flex;
  justify-content: center;
  height: 50%;
}

.faq__img--desktop {
  position: absolute;
  left: -93px;
  top: 180px;
}

.faq__img--mobile {
  display: block;
  width: 100%;
  max-width: 450px;
  transform: translate(-5%, -50%);
}
@media screen and (min-width: 990px) {
  .faq__img--mobile {
    /* mixin mq */
    display: none;
    /* end mixin mq */
  }
}

@media screen and (max-width: 989px) {
  .faq__img--desktop {
    /* mixin mq */
    display: none;
    /* end mixin mq */
  }
}

@media screen and (max-width: 989px) {
  .faq__title {
    /* mixin mq */
    text-align: center;
    margin-top: -30%;
    /* end mixin mq */
  }
}
@media screen and (min-width: 590px) and (max-width: 989px) {
  .faq__title {
    /* mixin mq */
    margin-top: -20%;
    /* end mixin mq */
  }
}

.faq__question {
  font-weight: normal;
  font-size: 1.1rem;
  padding: 1.3rem 0;
  cursor: pointer;
}
.faq__question:hover {
  color: var(--soft-red);
}
.faq__question.active {
  font-weight: bold;
}
.faq__question.active i {
  transform: rotate(180deg);
}
.faq__question i {
  float: right;
  color: var(--soft-red);
  font-size: 1.3rem;
  transition: var(--transition);
}

.faq__answer {
  box-sizing: content-box;
  overflow: hidden;
  transition: var(--transition);
  height: 0px;
  border-bottom: 1px solid var(--divider-color);
}
.faq__answer.active {
  padding-bottom: 1rem;
  margin-top: -0.6rem;
}

/*# sourceMappingURL=main.css.map */
