@use "../index" as *;

/* ========================== § FUNCTIONALITY === */
.faq {
  background: white;
  border-radius: 2rem;
  margin: 1.5rem;
  max-width: 920px;
  padding: 2rem;

  @include mq($desktop-width, up) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }
}

.faq__img {
  text-align: center;
  width: 100%;

  img {
    display: block;
    width: 100%;

    @include mq($desktop-width, down) {
      margin: 0 auto;
      transform: translateY(-63%) translateX(-7%);
      // margin-top: -32%;
      // transform: translateX(-7%);
    }
  }
}

.faq__text {
  @include mq($desktop-width, down) {
    margin-top: -50%;
  }
}

.faq__title {
  @include mq($desktop-width, down) {
    text-align: center;
  }
}

.faq__question {
  font-weight: normal;
  font-size: 1.1rem;
  padding: 1.3rem 0;
  cursor: pointer;

  &:hover {
    color: var(--soft-red);
  }

  &.active {
    font-weight: bold;

    i {
      transform: rotate(180deg);
    }
  }

  i {
    float: right;
    color: var(--soft-red);
    font-size: 1.3rem;
    transition: 0.2s ease-in-out;
  }
}

.faq__answer {
  --padding-bottom: 1rem;
  box-sizing: content-box;
  overflow: hidden;
  transition: 0.1s ease-in-out;
  height: 0px;
  border-bottom: 1px solid var(--divider-color);

  &.active {
    // padding-top: 0.7rem;
    padding-bottom: 1rem;
    margin-top: -0.6rem;
  }
}
